h1 {
  font-size: 1.5em;
  margin-top: 30px;
  margin-left: 120px;
}
label {
  display: inline-block;
  width: 8em;
  color: black;
  margin: 10px;
}
input {
  height: 1.5em;
  font-size: 1em;  
  margin: 10px;
}
button {
  margin-top: 20px;
  margin-left: 150px;
  background-color: rgb(114, 114, 214);
  padding: 4px 30px;
  cursor: pointer; 
  cursor: hand;
}